{% set FS_EXPAND = true %}

{% INCLUDECSS '@' ~ NAMESPACE ~ '/css/acp.css' %}

<h2>{{ lang('FORUM_SUBSCRIPTIONS') }}</h2>
<div class="panel">
	<div class="inner">
		{{ lang('FORUM_SUBSCRIPTIONS_EXPLAIN') }}
		<div class="version-wrapper" style="float: {{ S_CONTENT_FLOW_END }};">
			<div class="version-text">{{ lang('VERSION') }}</div>
			<div class="version-data">{{ VERSION_NUMBER }}</div>
		</div>
	</div>
</div>

{% if not PHP_VALID %}
	<div class="head-panel-error">
		{{ lang('PHP_NOT_VALID') }}
	</div>
{% endif %}

{% if not PHPBB_VALID %}
	<div class="head-panel-error">
		{{ lang('PHPBB_NOT_VALID') }}
	</div>
{% endif %}

{% if PHP_VALID and PHPBB_VALID %}
	<noscript>
		<div class="head-panel-error">
			{{ lang('NO_JS') }}
		</div>
	</noscript>

	{% if S_VERSION_CHECK %}
		{% if S_VERSION_CHECK == 'fail' %}
			<div class="head-panel-noversion">
				<div class="head-description">{{ lang('NO_VERSION_EXPLAIN') }}</div>
			</div>
		{% else %}
			<div class="head-panel-version">
				<div class="head-title">{{ lang('NEW_VERSION', S_VERSION_CHECK) }}</div>
				<div class="head-description">{{ lang('NEW_VERSION_EXPLAIN', S_VERSION_CHECK, DOWNLOAD) }}</div>
			</div>
		{% endif %}
	{% endif %}

	<form id="forumsubs" method="post" action="{{ U_ACTION }}"{{ S_FORM_ENCTYPE }}>
		<table class="table1">
			<thead>
				<tr>
					<th class="expand">{{ lang('FORUM_NAME') }}</th>
					<th class="forum-head">{{ lang('CHECK') }}</th>
					<th class="forum-head">{{ lang('SUBSCRIBER_COUNT') }}</th>
				</tr>
			</thead>

			<tbody>
				{% for fora in loops.forum_data %}
					<tr class="row3{% if fora.FORUM_TYPE == 0 or fora.FORUM_TYPE == 9 %} forum-cat{% elseif FS_EXPAND %} forum-forum{% endif %}">
						<td>{{ fora.FORUM_PADDING }}{{ fora.FORUM_NAME }}</td>
						{% if fora.FORUM_TYPE == 1 or fora.FORUM_TYPE == 9 %}
							<td class="mark"><input type="checkbox" name="forum_list[]" value="{{ fora.FORUM_ID }}"{% if fora.FORUM_SUBSCRIBED %} checked="checked"{% endif %} /></td>
							<td class="mark">{{ fora.SUBSCRIBED_COUNT }}</td>
						{% else %}
							<td></td>
							<td></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<fieldset class="quick">
			<input type="submit" name="submit" value="{{ lang('SAVE') }}" class="button1" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
		<fieldset>
			<legend class="collapsible">{{ lang('CLICK_DONATE') }}</legend>

			<div class="donate-content">
				<dl>
					<dt><label for="donate">{{ lang('DONATE_EXTENSIONS') }}{{ lang('COLON') }}</label><br><span>{{ lang('DONATE_EXTENSIONS_EXPLAIN') }}</span></dt>
					<dd>
						<div class="aligner">
							<div class="aligner-item">
								<input type="hidden" name="cmd" value="_s-xclick" />
								<input type="hidden" name="hosted_button_id" value="8QF58X7DVHKJ4" />
								<button class="paypal_btn" type="submit" name="submit" title="{{ lang('PAYPAL_TITLE') }}" alt="{{ lang('PAYPAL_BUTTON') }}" />{{ lang('DONATE') }}</button>
							</div>
						</div>
						<img class="qrimage" src="{{ EXT_IMAGE_PATH }}/qrcode.png">
					</dd>
				</dl>
			</div>
		</fieldset>
	</form>

	{% INCLUDEJS '@' ~ NAMESPACE ~ '/js/forumcat.js' %}
	{% INCLUDEJS '@' ~ NAMESPACE ~ '/js/donate-collapse.js' %}
{% endif %}
