{% if S_CAN_VIEW_SUBS %}
{% INCLUDECSS '@' ~ FS_NAMESPACE ~ '/css/forumsubs.css' %}

	<div class="panel bg2">
		<div class="inner">
			<h3>{{ lang('FORUM_SUBSCRIPTIONS') }}</h3>
				{% if not S_DISPLAY_DATA %}
					<dt>{{ lang('NO_DATA') }}</dt>
				{% else %}
					<div class="column1">
						<dl class="details">
							<dt class="fs-header">{{ lang('FORUM_NAME') }}</dt>
							<dd class="fs-header">{{ lang('FORUM_POSTS') }}</dd>
							{% for subs in loops.member_subs_1 %}
								<dt class="fs-body">{{ subs.FORUM_NAME }} ( {{ subs.SUBSCRIBERS}} )</dt>
								<dd class="fs-body">{{ subs.FORUM_POSTS }}</dd>
							{% endfor %}
						</dl>
					</div>

					{% if S_COL_2_SET %}
						<div class="column2">
							<dl class="details">
								<dt class="fs-header">{{ lang('FORUM_NAME') }}</dt>
								<dd class="fs-header">{{ lang('FORUM_POSTS') }}</dd>
								<br><br>
								{% for subs in loops.member_subs_2 %}
									<dt class="fs-body">{{ subs.FORUM_NAME }} ( {{ subs.SUBSCRIBERS}} )</dt>
									<dd class="fs-body">{{ subs.FORUM_POSTS }}</dd>
								{% endfor %}
							</dl>
						</div>
					{% endif %}
				{% endif %}
		</div>
	</div>
{% endif %}
